.container {
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .title {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  .content{
    display: flex;
    padding: 50px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;


  }

  .list{
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: left;


  }

  .meallist{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;


  }

  .days{
    font-size: 20;
    flex-direction: row;

  }

  .meals{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;


  }
  
  .description {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;


  }
  
  .table {
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-items: center;
  }

.mealplanMain {
  display: flex;
  flex-direction: row;
  width:90%;
}

.mealplanDays{
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: left;
  width:400px;
}
.mealplanSelection{
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: left;
}
  
.mealplanView{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.mealplanTitle {
  display: flex;
  padding-left: 200px;
  width:90%;
  flex-direction: column;
  align-items: center;
}