@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.content {padding:20px;}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}

nav{
  display: flex;
  justify-content: space-around;
  padding: 6px;
  align-items: center;
  background-color: #1abc9c;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
   padding: 24px 16px;
     top: 60px;
  width: 288px;
 
  background-color: #f1f1f1;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}