@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.content {padding:20px;}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}