.container {
  padding: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-start;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 6px;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.footer{
  margin-top: auto;
  padding: 10px;
  background: #0e6352;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerText{
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.title {
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
