.container {
    display: flex;
    flex-direction: column;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .login{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }
  
  .signup{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  
  .header {
    padding: 6px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  
  .footer{
    padding: 10px;
    background: #0e6352;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .footerText{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .title {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .description {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  