    .container {
      padding: 0;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #ccd7da;
    }
    
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 15%;
    }

    .grid {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    
    .card {
      display: flex;
      flex-direction: column;  
      justify-content: center;
      padding: 10px;
      text-align: left;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 320px;
      height:320px;
      margin: 10px;
      background-color: #fefefe;

    }